<div id="visitor-count"><br></br></div>
<script>
  window.onload = function () {
    fetch("{{ site.Params.customapis.tvapURL }}")
      .then((response) => response.json())
      .then((data) => {
        document.getElementById("visitor-count").innerHTML =
          "So far, this place  has been visited by " +
          "<span class='lcd-number'>" +
          data.data.results.visitors.value +
          "</span> virtual strangers. <a href='./posts/tvap-for-plausible-analytics/'>How'd I get these stats?</a>";
      });
  };
</script>
<style>
  #visitor-count {
    text-align: inline;
    padding-bottom: 1rem;
  }

  .lcd-number {
    font-size: 15px;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 10px #f562ff, 0 0 30px #890092, 0 0 10px #890092, 0 0 80px #890092;
    color: #fccaff;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 10px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-weight: 500;
    position: initial;
  }

</style>